/*mixin card*/ /*UTLISEE*/
@mixin card($height, $width, $margin, $border-radius) {
      border-radius: $border-radius;
      position: relative;
      height: $height;
      width: $width;
      margin: $margin;
      overflow: hidden;
      animation: fadeInUp 600ms ease-in-out;
}

/*mixin cardtitle*/
@mixin cardtitle($font-size, $margin, $color) {
      position: absolute;
      display: flex;
      align-items: center;
      font-size: $font-size;
      margin: $margin;
      color: $color;
}

/*mixin cardimg*/
@mixin cardimg($width) {
      width: $width;
      height: inherit;
      filter: brightness(70%);
      object-fit: cover;
      overflow: hidden;
      border-radius: inherit;
}

/*mixin collapse*/
@mixin btn($width, $height, $padding, $margin, $border-radius) {
      width: $width;
      height: $height;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: $primary-color;
      border-radius: $border-radius;
      //filter: drop-shadow(3px 4px 2px $shadow-color);
      padding: $padding;
      margin: $margin;
      position: relative;
      
}

/*mixin arrow*/
@mixin arrow {
      position: absolute;
      z-index: 1;
      top: 38%;
      padding: 1%;
      cursor: pointer;
}

/*mixin arrowimg*/
@mixin arrowimg ($width, $height) {
      width: $width;
      height: $height;
}
