/*couleurs charte graphique*/
$primary-color: #ff6060;
$secondary-color: #ffffff;
$tertiary-color:#000000;

/*couleurs dérivées charte graphique*/
$primary-font: #ff6060;
$secondary-font: white;



/*couleurs de fond et ombrages*/
$footer-bkg-color: #000000;
$primary-bkg-color:#f6f6f6;
$secondary-bkg-color:#f6f6f6;
$icon-font: #ffffff;
$tertiary-bkg-color: white;
$shadow-color: #cfcfcf;
$loader-bkg: #F8F8FF;

$shadowed-font: #6a6a6a;