/*couleurs charte graphique*/
$primary-color: #ff6060;
$secondary-color: #ffffff;
$tertiary-color: #000000;

/*couleurs de fond et ombrages*/
$footer-bkg-color: #000000;
$primary-bkg-color: #f6f6f6;
$secondary-bkg-color: #f7f7f7;
