.error {
      margin: 5%;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $primary-font;
       /*@media screen and (max-width: 767px) {
                  margin: 10% 0 10% 0 ;
            }
            @media only screen and (max-width: 991px) and (min-width: 768px) {
            
            margin: 15% 0 15% 0
      }*/
      &__title {
            font-size: 488px;
            margin: 0;
            @media screen and (max-width: 767px) {
                  font-size: 96px;
            }
            @media only screen and (max-width: 991px) and (min-width: 768px) {
            
             font-size: 200px;
      }
      }
      &__text {
            font-size: 36px;
            margin: 0;
            @media screen and (max-width: 767px) {
                  font-size: 18px;
                  text-align: center;
                  width: 260px;
                 //height: 52px;
            }
            @media only screen and (max-width: 991px) and (min-width: 768px) {
            
             font-size: 24px;
      }
      }
      &__link {
            font-size: 18px;
            margin: 15% 0 5% 0;
            text-decoration: underline;
            @media screen and (max-width: 767px) {
                  font-size: 14px;
            }
      }
}
