.header {
      height: 68px;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 3%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__logo {
            width: 211px;
            height: 68 px;
            @media screen and (max-width: 767px) {
                  width: 145px;
                  height: 47 px;
            }
      }
      &__navbar {
            width: 50%;
            height: 34px;
            color: $primary-color;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media screen and (max-width: 767px) {
                  font-size: 12px;
            }
            @media only screen and (max-width: 991px) and (min-width: 768px) {
                  font-size: 18px;
            }
            &--link {
                  align-items: center;
                  margin-left: 10%;
                  font-weight: 500;
                  &:focus {
                        text-decoration: underline;
                  }
                  &:hover {
                        transform: scale(1.15);
                  }
            }
      }
}
